




body {
    margin:0;
    padding:0;
    background-image: linear-gradient(to bottom,#fc00ff,#00dbde);
    

}
li,a{
    font-family: Artifakt Element Heavy;
    font-weight:500;
    font-size: 16px;
    color:#000303;
    text-decoration:none;

}

.loginbox{
    width:620px;
    height:575px;
    
    color: rgb(12, 1, 1);
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%,-30%);
    box-sizing: border-box;
    border-radius: 15px;
    margin:2px;
    padding:70px 30px;
    background-image: linear-gradient(to bottom, rgb(250, 250, 252) , rgb(248, 248, 248));
}


h1{
    
    text-align: center;
    font-family:Artifakt Element Heavy;
    position:relative;
    bottom:50px; 
}
.side{
    font-size:12px;
    color:darkgrey;
    text-align: center;
    font-family: Artifakt Element Heavy;
    position: relative;
    bottom: 50px; 
    
}
.loginbox p{
    font-family:Artifakt Element Heavy ;
    margin:0;
    padding:0;
    font-weight: bold;
}

.loginbox input{
    width:100%;
    margin-bottom:20px;
}

.loginbox input[type="text"], input[type="password"]{
    font-family:Artifakt Element Heavy ;
    color:rgb(3, 3, 0);
    border:none;
    border-bottom: 1px solid rgb(5, 0, 0);
    background: transparent;
    outline: none;
    height: 40px;
}

.a2:link, .a2:visited {
    font-family:Artifakt Element Heavy ;
    font-size:15px;
    background-color: ivory;
    color: rgb(2, 0, 0);
    margin: 0.2px;
    border:2px solid rgb(8, 0, 0);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:100px;
    position: relative;
    
    bottom: 15px;
    left:240px;
     
  }
  .a2:hover, .a2:active {
    font-family:Artifakt Element Heavy ;
    background-color: darkgrey;
  }
  
  .a:link, .a:visited {
    font-family:Artifakt Element Heavy ;
    font-size:15px;
    background-color: rgb(250, 246, 246);
    color: rgb(3, 0, 0);
    margin: 0.2px;
    border:2px solid rgb(2, 0, 0);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:100px;
  }
  .a:hover, .a:active {
    font-family:Artifakt Element Heavy ;
    background-color: darkgrey;
  }






  header{
      display:flex;
      background-color: rgb(250, 246, 246);
      
      
      padding: 30px 10%;
    }

    header p{
    color:rgb(5, 5, 0);
     font-family:Artifakt Element Heavy ;
     margin:0;
     padding:0;
     font-weight: bold;
     position: relative;
     right:150px;
     font-size: 45px;
     top:6px;

    }
  .main{
      font-family: Artifakt Element Heavy;
      font-size:50px;
      color:rgb(3, 3, 0);
      position: relative;
      bottom:125px;
      left: 100px;
      right:20px;
    
  }

  footer{
    display:flex;
    background-color: rgb(250, 246, 246);
      
      
      padding: 30px 10%;
    
}

footer p{
    color:rgb(5, 5, 0);
     font-family:Artifakt Element Heavy ;
     margin:0;
     padding:0;
     font-weight: bold;
     position: relative;
     right:150px;
     left:2px;
     font-size: 15px;
     top:6px;
}
.leftsidebar{
    
    height:650px;
    width:1px;

}
.logo{
    cursor:pointer;
    position: relative;
    right:150px;


}
.nav_links{
    list-style:none;
}
.nav_links li{
    display: inline-block;
    padding:0 20px;
    

}

.nav_links li a{
    transition: all 0.3s ease 0s;
    position:relative;
    left:650px;
    top:6px;
}
.nav_links li a:hover{
    color: #008a90;
}